body {
    display: flex;
    align-items: center;
    height: 100vh;
    background-image: url("https://fastly.picsum.photos/id/984/1080/720.jpg?hmac=GKrcOvmlS_UMKtRjr6IzWg_ewF7pM0MFoOpaBx5i6uk");
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    margin: 0;
}

.container {
    text-align: center;
    font-family:Georgia, 'Times New Roman', Times, serif, Tahoma, sans-serif;
    margin: auto;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 50px;
    border-radius: 5px;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.button {
    background-color: #000000;
    color: #fff;
    padding: 10px 50px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-bottom: 10px;

}

.button:hover {
    background-color: #444e58;
}

.login-link a {
    font-size: 15px;
    text-decoration: none;
    color: #007bff;
    transition: color 0.3s;
}

.login-link a:hover {
    color: #82baf5;
}
